{% extends "catalog/base.html" %}

{% block title %}
    The Entire Library
{% endblock %}

{% block content %}
    <h2>The Entire Library</h2>
    <p>Books are arranged alphabetically by author.</p>
    <p>This place is a good candidate for search.</p>
    {% if book_list %}
        <ul class="full">
        {% for book in book_list %}
            <li>
                <span class="title"> <a href="book/{{ book.id }}/">{{ book.title }}</a></span>
                <span class="author">{{ book.author }}</span>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Ain't nothing.</p>
    {% endif %}
{% endblock %}
